<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <link href="../css/style.css" rel="stylesheet" />
    <title>Groupie Tracker</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <div class="topnav-centered"><a href="/">Groupie tracker</a></div>
        <a class="active" href="/">Home</a>
        <div class="topnav-right"><a href="/about">About</a></div>
        <div class="topnav-right"><a href="/donate">Donate</a></div>
      </div>
    </header>
    <main class="about_layout">
      <div class="about_page">
        <p class="about_text">
          Get information on your favorite bands, all in one place! This website
          gives you a place to check previous concerts, creation dates of bands
          and more. <br />
          We cover a lot of different types of music. We're sure you will find
          something you like.
        </p>
        <br />
        <p class="about_text">
          This site runs using an API. It currently contains over 50 artists.
          This has been built and is being managed by Adrian, Wincent and
          Santeri. <br />
          Please consider donating to us if you enjoy our page. For donations,
          see our donate page in the top right. <br />
          We accept everything from a cup of coffee to you paying for our
          buy-ins on poker nights. For questions on our code, find us at campus
          :)
        </p>
      </div>
    </main>
  </body>
</html>
