<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/artiststyle.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <title>Groupie Tracker</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <div class="topnav-centered"><a href="/">Groupie tracker</a></div>
        <a class="active" href="/">Home</a>
        <div class="topnav-right"><a href="/about">About</a></div>
        <div class="topnav-right"><a href="/donate">Donate</a></div>
      </div>
    </header>
    <main class="artist_layout">
      <div class="artist_page_wrapper">
        <div class="artist_image">
          <img src="{{.Image}}" alt="hahaxd" />
        </div>
        <h1 id="bandnam">{{.Name}}</h1>
        <div class="artist_textbox">
          <div class="band_member">
            <h2>Band members:</h2>
            <br />
            {{range .GroupMembers}}
            <p>{{ . }}</p>
            {{end}}
            <br />
          </div>
          <div class="started">
            <h2>Started:</h2>
            <p>{{.CreationDate}}</p>
            <br />
            <h2>First Album:</h2>
            <p>{{.FirstAlbum}}</p>
          </div>
          <div class="datesLocations">
            <h2>Concerts:</h2>
            {{range $key, $value := .DatesLocations}}
              <br>
              <h3>{{$key}}</h3>
              <br>
              {{range $v := $value}}
              <p>{{$v}}</p>
              {{end}} 
            {{end}}
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
