<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="../css/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap"
      rel="stylesheet"
    />
    <title>Groupie Tracker</title>
  </head>
  <body>
    <header>
      <div class="topnav">
        <div class="topnav-centered"><a href="/">Groupie tracker</a></div>
        <a class="active" href="/">Home</a>
        <div class="topnav-right"><a href="/about">About</a></div>
        <div class="topnav-right"><a href="/donate">Donate</a></div>
      </div>
    </header>
    <main class="dono_layout">
      <div class="donate">
        <p id="donotext">Please come give us money.</p>
        <p>We are poor and want lunch, coffee or money for gambling.</p>
        <p>If we win money we will share with you (no promises).</p>
        <p>You can send money by siirto (Wincent) or mobile pay</p>
        <p>Santeri: +358 50 433 0578</p>
        <p>Wincent: +358 457 343 8888</p>
        <p>Adrian: +358 457 344 1791</p>
        <p>Thank you :)</p>
      </div>
    </main>
  </body>
</html>
