header{
  margin-inline: 9px;
}
  .sidenavigation{
    background-color: rgb(176, 230, 215);
    border-radius: 5px;
    margin: 2px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .bar-icon{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .brand{
    font-size: 80px;
    position: sticky;
    margin-top: 20px;
  }
  .branda{
    font-size: 80px;
    position: sticky;
    margin-top: 20px;
  }
  
  /* footer */
  
  footer{
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    display: block;
    text-align: center
  }
  /* Sidenavigationbar */
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .loginbtn{
    float: right;
    margin: 20px 30px;
    font-size: 25px;
  }

  button {
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button.ghost {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }

.postall {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .postall textarea {
    resize: none;
    width: 50%;
    min-height: 140px;
    padding: 6px;
    margin-block: 30px;
  }

  .postall input {
    display: flex;
    padding: 10px;
    cursor: text;
  }

  input {
    display: flex;
    width: 50%;
  }

  strong {
    font-size: 26px;
  }

  .btn {
    background-color: rgb(53, 223, 53);
  }


  h1 {
   text-align: center;
   font-size: 26px;
  }

input#category.Cbtn {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
}