/* navigation bar */
  header{
    margin-inline: 10px;
  }
  
  .sidenavigation{
    background-color: rgb(176, 230, 215);
    border-radius: 5px;
    margin: 2px;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .bar-icon{
    display: flex;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-size: 30px;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .bar-icon a{
    float: left;
    display: inline;
    text-align: center;
    margin-inline: 3px;
    font-size: 24px;
    padding: 5px;
  }
  
  .brand{
    font-size: 80px;
    position: sticky;
    margin-top: 20px;
  }
  .branda{
    font-size: 80px;
    position: sticky;
    margin-top: 20px;
  }
  /* footer */
  footer{
    position: relative;
    font-size: 20px;
    margin-top: 20px;
    padding: 20px;
    display: block;
    text-align: center
  }
  
  /* posts.html */
  
  .table-head{
    display: flex;
    padding: 5px;
    margin: 11px;
    font-size: 20px;
    border-radius: 5px;
    background: rgb(176, 230, 215);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .table-head div{
    padding: 5px;
    margin: 2px;
    font-weight: bold;
  }
  
  .table-head .status{
    flex: 7%;
  }
  
  .table-head .subjects{
    flex: 70%;
  }
  
  .table-head .replies{
    flex: 10%;
  }
  
  .table-head .last-reply{
    flex: 15%;
  }
  
  /* table body */
  .table-row{
    display: flex;
    margin-inline: 5px;
  }
  
  .table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 5px ;
    border-radius: 5px;
    font-size: 20px;
    background: rgb(176, 230, 215);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .table-row .status {
    flex: 5%;
    font-size: 25px;
    text-align: center;
    padding: 30px;
  }
  
  .table-row .subjects{
    flex: 70%;
  }
  
  .table-row .replies{
    flex: 10%;
  }
  
  .table-row .last-reply{
    flex: 15%;
  }
  
  /* Navigation */
  .navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
  }
  
  .navigate a{
    color: #fff;
  }
  
  .navigate a:hover{
    color: #058a86;
    font-weight: bolder;
  }
  
  /* Sidenavigationbar */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .loginbtn{
    float: right;
    margin: 20px 30px;
    font-size: 25px;
  }

  /* detail.html */
  a{
    font-size: 22px;
  }
  
  .head{
    display: flex;
    background-color: #058a86;
    padding: 5px;
    font-weight: bold;
    font-size: 22px;
  }
  /* login/register  */
  
  .signin-p {
      font-size: 20px;
      color: black;
      font-weight: 100;
      line-height: 20px;
      letter-spacing: 0.5px;
      margin: 20px 0 30px;
      
  }
  
  .signin-span{
      font-size: 12px;
  }
  
  .signin-a {
      color: #333;
      font-size: 14px;
      text-decoration: none;
      margin: 15px 0;
  }
  
  .signin-a:hover{
    color:#857b8a;
    text-decoration: none;
  }
  
  button {
    border-radius: 10px;
    border: 1px solid #058a86;
    background-color: #058a86;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 40px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background-color: transparent;
    border-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  form {
      background-color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      text-align: center;
  }
  
  input {
    background-color: #eee;
    border: none;
    padding: 12px;
    margin: 8px 10px;
    width: 140px;
}
  
  .register-container {
      background-color: #fff;
      border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
              0 10px 10px rgba(0,0,0,0.22);
      position: relative;
      overflow: hidden;
      width: 768px;
      max-width: 100%;
      min-height: 480px;
  }
  
  .form-container {
      position: absolute;
      top: 0;
      height: 100%;
      transition: all 0.6s ease-in-out;
  }
  
  .sign-in-container {
      left: 0;
      width: 50%;
      z-index: 2;
  }
  
  .register-container.right-panel-active .sign-in-container {
      transform: translateX(100%);
  }
  
  .sign-up-container {
      left: 0;
      width: 50%;
      opacity: 0;
      z-index: 1;
  }
  
  .register-container.right-panel-active .sign-up-container {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
      animation: show 0.6s;
  }

  .overlay-container {
      position: absolute;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      overflow: hidden;
      transition: transform 0.6s ease-in-out;
      z-index: 100;
  }
  
  .register-container.right-panel-active .overlay-container{
      transform: translateX(-100%);
  }

  .overlay {
      background: #058a86;
      background: -webkit-linear-gradient(to right, #2bffd5, #058a86);
      background: linear-gradient(to right, #2bffd5, #058a86);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 0 0;
      color: #FFFFFF;
      position: relative;
      left: -100%;
      height: 100%;
      width: 200%;
        transform: translateX(0);
      transition: transform 0.6s ease-in-out;
  }
  
  
  .register-container.right-panel-active .overlay {
        transform: translateX(50%);
  }
  
  .overlay-panel {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 0 40px;
      text-align: center;
      top: 0;
      height: 100%;
      width: 50%;
      transform: translateX(0);
      transition: transform 0.6s ease-in-out;
  }
  
  .overlay-left {
      transform: translateX(-20%);
  }
  
  .register-container.right-panel-active .overlay-left {
      transform: translateX(0);
  }
  
  .overlay-right {
      right: 0;
      transform: translateX(0);
  }
  
  .register-container.right-panel-active .overlay-right {
      transform: translateX(20%);
  }

   /* end of login/register */
  